<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:fb="http://ogp.me/ns/fb#">
<meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="InformedTreatments" />
  <meta property="og:description"   content="InformedTreatments lets you stay up to date on research and developments about diseases you care about. Check our subsites for easy-to-understand, accurate articles about the latest medical research so that you can stay informed." />
  <meta property="og:image"          content="http://informedtreatments.github.io/static/images/bg.png"/>

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <title>InformedTreatments</title>
</head>

<body>
  <div id="header">
   <div id="title-img" class="transition">
    <a href="/"><img src="/static/images/logo.png" class="transition"/></a>
  </div>
  <div id="title" class="transition">
    <a href="/">InformedTreatments</a>
  </div>
</div><!-- #header -->

<div id="content">
 {% block content %}{% endblock %}
</div><!-- #content -->

<div id="footer">
 <div id="social-button-div">
  Follow us: &nbsp;&nbsp;<a href="https://www.facebook.com/InformedTreatments"><i class="fa fa-facebook-official"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/InformedTreatments"><i class="fa fa-twitter"></i></a> <br><br>

  © 2016 InformedTreatments
</div>
</div><!-- #footer -->

<script type="text/javascript" src="/static/js/main.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  $('button').click(function() {
    $(this).toggleClass('expanded').siblings('span').toggle();
  });
  $('.mobile .nav-item').click(function(){
    setTimeout(function() {
      $('button').removeClass('expanded').siblings('span').hide();
    }, 300)
  })

  $('.home-nav').click(function() {
    $('#articles-content').animate({opacity: 0}, 300);
    $('#subscribe-content').animate({opacity: 0}, 300);
    $('.home-nav').addClass('selected');
    $('.articles-nav').removeClass('selected');
    $('.subscribe-nav').removeClass('selected');
    setTimeout(function(){
     $('#articles-content').css("display","none");
     $('#subscribe-content').css("display","none");
     $('#home-content').css("display","block");
     $('#home-content').animate({opacity: 1}, 300);
   }, 400);
  });

  $('.articles-nav, #articles-link').click(function() {
    $('#home-content').animate({opacity: 0}, 300);
    $('#subscribe-content').animate({opacity: 0}, 300);
    $('.articles-nav').addClass('selected');
    $('.home-nav').removeClass('selected');
    $('.subscribe-nav').removeClass('selected');
    setTimeout(function() {
     $('#home-content').css("display","none");
     $('#subscribe-content').css("display","none");
     $('#articles-content').css("display","block");
     $('#articles-content').animate({opacity: 1}, 300);
   }, 400);
  });

  $('.subscribe-nav, #subscribe-link').click(function() {
    $('#home-content').animate({opacity: 0}, 300);
    $('#articles-content').animate({opacity: 0}, 300);
    $('.subscribe-nav').addClass('selected');
    $('.home-nav').removeClass('selected');
    $('.articles-nav').removeClass('selected');
    setTimeout(function() {
     $('#home-content').css("display","none");
     $('#articles-content').css("display","none");
     $('#subscribe-content').css("display","block");
     $('#subscribe-content').animate({opacity: 1}, 300);
   }, 400);
  });

  $('.article-title').click(function() {
    var parent = $(this).parent();
    var article = parent.find('.article-content');
    article.css('width', parent.width());
    var articleHeight = article.height();
    article.css('width', "");
    var parentHeight = parent.height();
    if (article.hasClass('hidden-article')) {
     parent.animate(
     {
       height: parentHeight + articleHeight + 20
     }, 
     500, 
     function() {
       article.toggleClass('hidden-article');
       article.animate({opacity: 1}, 500, function(){});
     });
   } else {
     article.animate({opacity: 0}, 500, function(){});
     parent.animate(
     {
       height: parentHeight - articleHeight - 20
     }, 
     500, 
     function() {
       article.toggleClass('hidden-article');
     });
   }
   setTimeout(function() {
     parent.css('height', '');
   }, 1000);
 });

  $('.sort-selector').click(function() {
    var post_url = window.location.href;
    var sort_on = 'timestamp';
    var reverse_sort = true;
    if (this.id == 'sort-timestamp-ascending') {
      reverse_sort = false;
      $('#articles-title').html("OLDEST ARTICLES ON {% filter upper %}{{disease}} {% endfilter %}");
    } else if (this.id == 'sort-title-ascending') {
      sort_on = 'title';
      reverse_sort = false;
      $('#articles-title').html("ARTICLES ON {% filter upper %}{{disease}} {% endfilter %}");
    } else if (this.id == 'sort-title-descending') {
      sort_on = 'title';
      $('#articles-title').html("ARTICLES ON {% filter upper %}{{disease}} {% endfilter %}");
    } else {
      $('#articles-title').html("MOST RECENT ARTICLES ON {% filter upper %}{{disease}} {% endfilter %}");
    }

    $('#sort-timestamp-ascending').removeClass('selected');
    $('#sort-timestamp-descending').removeClass('selected');
    $('#sort-title-ascending').removeClass('selected');
    $('#sort-title-descending').removeClass('selected');
    $(this).addClass('selected');
    $('#articles-container').fadeOut(500, function() {

      $.ajax({
       type: 'GET',
       url: post_url,
       data: {
        'sort_on': sort_on,
        'reverse': reverse_sort,
      },
      success: function(msg) {
       var container = $($.parseHTML(msg));
              // Verrryyyyy brittle if we change the layout of the rest
              // Figure out how to better parse this!
              $('#articles-container').html(container[25].childNodes[3].childNodes[5].childNodes[2].innerHTML).fadeIn(500);
              $('.article-title').click(function() {
                var parent = $(this).parent();
                var article = parent.find('.article-content');
                article.css('width', parent.width());
                var articleHeight = article.height();
                article.css('width', "");
                var parentHeight = parent.height();
                if (article.hasClass('hidden-article')) {
                  parent.animate(
                  {
                    height: parentHeight + articleHeight + 20
                  }, 
                  500, 
                  function() {
                    article.toggleClass('hidden-article');
                    article.animate({opacity: 1}, 500, function(){});
                  });
                } else {
                  article.animate({opacity: 0}, 500, function(){});
                  parent.animate(
                  {
                    height: parentHeight - articleHeight - 20
                  }, 
                  500, 
                  function() {
                    article.toggleClass('hidden-article');
                  });
                }
                setTimeout(function() {
                  parent.css('height', '');
                }, 1000);
              });
},
});
});
});
{% if direct_to_article %}
$('#articles-link').click();
{% endif %}

function replaceSubscribeForm() {
  $('#main-email').fadeOut(500, function() {
    $('#email-submitted').html('Thanks for choosing to stay informed!<br>Expect an email in your inbox confirming your subscription.<br><br> - The \'Company name\' Team');
    $('#email-submitted').fadeIn(500);
  });
}

</script>
</body>
</html>
